@import "variables";

.memory-game {
  .board {
    width: calc(6 * #{$card-width} + 12 * #{$card-margin});

    margin: 0 auto;
    padding: $card-margin;

    background: $color-green;
    border-radius: 3px;

    // Partie du plateau qui affiche les statistiques du jeu en cours
    .board-header {
      width: 100%;

      margin: 0 0 25px 0;
      padding: 15px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .board-title {
        width: 100%;

        color: $color-white;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Rock Salt', cursive;

        text-align: center;
        text-transform: uppercase;

        margin: 0;
        padding: 0;
      }

      .board-stats {
        width: 80%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .block {
          .block-label {
            color: $color-white;
            font-size: 16px;
            font-weight: 400;
            font-family: 'Dancing Script', cursive;
          }

          .block-value {
            color: $color-white;
            font-size: 16px;
            font-weight: 400;
            font-family: 'Dancing Script', cursive;
          }

          &.block-counter {
            width: 50%;
          }

          &.block-level {
            width: 50%;
          }

          &.block-time {
            width: 100%;
          }
        }
      }
    }

    // Partie tu plateau où l'on liste toutes les cartes du jeu en cours
    .cards-list {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      margin: 0;
      padding: 0;
    }
  }
}