@import "variables";
@import "board";
@import "card";

.memory-game {

  position: relative;

  // Affichage des différents menu en popin du jeu
  .menu {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    display: none;

    background: rgba(0, 0, 0, .6);

    &.active {
      display: flex;
      align-items: center;
      justify-content: center;

      z-index: 999;
    }

    .menu-container {
      width: 500px;
      height: auto;


      margin: 0;

      position: relative;
      overflow: hidden;
      background: rgba(255, 255, 255, 1);

    }

    .menu-header {
      width: 100%;

      padding: 0;
      margin: 0 0 50px 0;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      position: relative;


      .btn-github {
        width: 150px;
        background: $color-red;

        position: absolute;
        top: 30px;
        left: -30px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 14px;
        color: $color-white;
        text-decoration: none;

        transform-origin: center center;
        transform: rotate(-45deg);

        svg {
          width: 20px;
          margin: 0 5px 0 0;
        }

        &:hover {
          background: $color-black;
        }
      }

      .menu-title {
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Rock Salt', cursive;
        text-align: center;

        position: relative;

        // OPTIONNEL - Utilisé pour mettre le petit trait sous le titre
        &:after {
          content: '';

          position: absolute;
          bottom: 0;
          left: calc(50% - 30px);

          width: 60px;
          height: 2px;

          background: $color-black;
        }
      }


    }

    .menu-controls {
      width: 100%;
      max-width: 500px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      margin: 0 auto;
      padding: 0 25px 25px 25px;

      .menu-close {
        position: absolute;
        top: -10px;
        right: -10px;

        width: 30px;
        height: 30px;

        background: $color-black;
        color: $color-white;
        border-radius: 50%;
        border: none;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;

        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
        -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);
        -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.7);

        transition: linear .3s;

        svg {
          width: 10px;

          transition: linear .3s;
        }

        &:hover {
          top: -15px;
          right: -15px;

          width: 40px;
          height: 40px;

          background: $color-red;

          svg {
            width: 15px;

            transform: rotate(90deg);
          }
        }

      }

      .btn {
        width: 100%;

        margin: 10px 0 0 0;
        padding: 0;

        border: 2px solid $color-black;

        color: $color-white;
        background: $color-black;

        font-size: 20px;
        line-height: 40px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;

        display: flex;
        align-items: center;
        justify-content: center;

        transition: linear .3s;

        &:hover {
          color: $color-black;
          background: $color-white;

          cursor: pointer;
        }

        &-replay {
          background: $color-green;
          border-color: $color-green;

          svg {
            width: 18px;
            margin: 0 15px 0 0;
          }

          &:hover {
            color: $color-green;
          }
        }

        &-ranking {
          background: $color-orange;
          border-color: $color-orange;

          svg {
            width: 18px;
            margin: 0 15px 0 0;
          }

          &:hover {
            color: $color-orange;
          }
        }

        &-return {
          background: $color-black;
          border-color: $color-black;

          &:hover {
            color: $color-black;
          }
        }
      }
    }

    // Menu d'affichage en cas de victoire / défaite

    &-general {
      .rules-list {

        margin: 0 0 25px 0;

        .rule {

          font-size: 15px;
          font-weight: 400;
          font-family: "Open Sans", sans-serif;
          text-align: center;

          list-style: none;

          padding: 5px 0;
        }
      }
      .empty{
        width: 100%;
        text-align: center;
      }
    }

    &-ranking {
      .ranks-list {

        margin: 0 0 25px 0;

        .rank {

          font-size: 15px;
          font-weight: 400;
          font-family: "Open Sans", sans-serif;
          text-align: center;

          list-style: none;

          padding: 5px 0;
        }
      }
      .empty{
        width: 100%;
        text-align: center;
      }
    }

    &-victory, &-loose {
      .menu-header {
        width: 100%;

        padding: 0;
        margin: 0 0 50px 0;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .menu-title {
          width: 100%;

          text-align: center;
        }

        .menu-figure {
          width: 400px;
          height: 300px;

          background: $color-black;
        }
      }

      .menu-content {
        .ranks-list {

          margin: 0 0 25px 0;

          .rank {

            font-size: 15px;
            font-weight: 400;
            font-family: "Open Sans", sans-serif;
            text-align: center;

            list-style: none;

            padding: 5px 0;
          }
        }
        .empty{
          width: 100%;
          text-align: center;
        }

        .form-rank {
          width: 100%;

          .form-group {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .new-label {
              width: 100%;

              text-align: center;

              display: block;
              margin: 0 0 5px 0;
            }

            .rank-input {
              width: 200px;

              border: 1px solid $color-black;
              border-radius: 0;

              line-height: 26px;

              box-shadow: none;
              outline: none;
            }
          }

          .form-controls {
            width: 100%;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            .rank-submit {

              font-size: 14px;
              font-family: "Open Sans", sans-serif;
              font-weight: 400;
              line-height: 26px;

              background: $color-black;
              color: $color-white;
              border: 2px solid $color-black;
              cursor: pointer;

              margin: 5px 0 25px 0;
              padding: 0 15px;

              &:hover {
                background: none;
                color: $color-black;
              }
            }
          }
        }
      }
    }
  }

  // OPTIONNEL - Section de design
  .design-game {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    z-index: 400;

    pointer-events: none;

    .corner {
      width: 160px;
      height: 160px;

      .figure {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-top-left {
        position: absolute;
        top: -25px;
        left: -25px;
      }

      &-top-right {
        position: absolute;
        top: -25px;
        right: -25px;
      }

      &-bottom-right {
        position: absolute;
        bottom: -25px;
        right: -25px;
      }

      &-bottom-left {
        position: absolute;
        bottom: -25px;
        left: -25px;
      }
    }
  }

}
