@import "variables";
@import "board";
@import "card";

.memory-game {

  // Affichage des différents menu en popin du jeu
  .menu {
    width: 100%;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    display: none;

    background: rgba(0, 0, 0, .6);

    &.active {
      display: flex;
      align-items: center;
      justify-content: center;

      z-index: 999;
    }

    .menu-container {
      width: 500px;
      height: auto;

      padding: 25px;
      margin: 0;

      position: relative;

      background: rgba(255, 255, 255, 1);

      overflow: hidden;
    }

    .menu-header {
      width: 100%;

      padding: 0;
      margin: 0 0 50px 0;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .btn-github {
        width: 150px;
        background: #b62b1e;

        position: absolute;
        top: 30px;
        left: -30px;

        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 14px;
        color: $color-white;
        text-decoration: none;

        transform-origin: center center;
        transform: rotate(-45deg);

        svg {
          width: 20px;
          margin: 0 5px 0 0;
        }

        &:hover {
          background: $color-black;
        }
      }

      .menu-title {
        width: 100%;
        font-size: 24px;
        font-weight: 700;
        font-family: 'Rock Salt', cursive;
        text-align: center;
      }
    }

    .menu-controls {
      width: 100%;
      max-width: 500px;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      margin: 0 auto;

      .btn {
        width: 100%;

        display: block;

        margin: 10px 0 0 0;
        padding: 0;

        border: 2px solid $color-black;

        color: $color-white;
        background: $color-black;

        font-size: 20px;
        line-height: 40px;
        text-transform: uppercase;
        text-decoration: none;
        text-align: center;

        transition: linear .3s;

        &:hover {
          color: $color-black;
          background: $color-white;

          cursor: pointer;
        }

        &-play {
          background: $color-green;
          border-color: $color-green;

          &:hover {
            color: $color-green;
          }
        }

        &-ranking {
          background: $color-pink;
          border-color: $color-pink;

          &:hover {
            color: $color-pink;
          }
        }

        &-return {
          background: $color-black;
          border-color: $color-black;

          &:hover {
            color: $color-black;
          }
        }
      }
    }

    // Menu d'affichage en cas de victoire / défaite
    &-victory, &-loose {
      .menu-header {
        width: 100%;

        padding: 0;
        margin: 0 0 50px 0;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .menu-title {
          width: 100%;

          text-align: center;
        }

        .menu-figure {
          width: 400px;
          height: 300px;

          background: $color-black;
        }
      }
    }
  }

  // OPTIONNEL - Section de design
  .design-game {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    overflow: hidden;

    z-index: 400;

    pointer-events: none;

    .corner {
      width: 160px;
      height: 160px;

      .figure {
        width: 100%;
        height: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
      }

      &-top-left {
        position: absolute;
        top: 0;
        left: 0;
      }

      &-top-right {
        position: absolute;
        top: 0;
        right: 0;
      }

      &-bottom-right {
        position: absolute;
        bottom: 0;
        right: 0;
      }

      &-bottom-left {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }

}
