// Ce fichier est utilisé pour répertorier toutes les variables
// que l'on pourras utiliser dans nos styles

// Couleurs
$color-white: rgba(255, 255, 255, 1);
$color-black: rgba(0, 0, 0, 1);
$color-orange: orange;
$color-green: green;
$color-pink: pink;
$color-red: #b62b1e;
$color-brown: #752525;

// Carte
$card-width: 149px;
$card-height: 216px;
$card-margin: 5px;