@import "variables";
@import "game";

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

html, body {
  width: 100vw;
  height: 100vh;

  min-width: 1075px;
  min-height: 1125px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: #008b3c;
}